
.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(235, 237, 238);
    
    
}

.post-header-right {
    display: flex;
    gap: 10px;
   
}
.post-transition-buttons {
    align-items: center;
  justify-content: center;
  display: grid
}
 
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  
    color: var(--bs-nav-pills-link-active-color);
    background-color: hsl(206deg 100% 85.37%);
    
}
#pills-tab {
    align-items: center;
    justify-content: center;
}