.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(235, 237, 238);


}

.post-header-right {
    display: flex;
    gap: 10px;

}

.post-transition-buttons {
    align-items: center;
    justify-content: center;
    display: grid
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {

    color: var(--bs-nav-pills-link-active-color);
    background-color: hsl(206deg 100% 85.37%);

}

#pills-tab {
    align-items: center;
    justify-content: center;
}
.post-header-photo{
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: white;
    
}
.post-img img {
    width:100%;
    height: auto;
    border-radius: 10px;
  }
  

#one-col {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-right: 200px; 
  }
  .post-article {
    border: 2px solid rgba(0, 0, 0, 0.007); /* Borde de 2px de color negro */
    border-radius: 10px; /* Esquinas redondeadas (opcional) */
    padding: 20px; /* Espacio interno del borde */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave (opcional) */
    background-color: white;
                      
  }
  #pills-profile {
    display: flex;
    justify-content: center; 
    min-height: 100vh;
    background-color:  rgb(235, 237, 238); 
    padding-top: 25px;    
}
    
  